root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
insert_final_newline = true
max_line_length = 120
trim_trailing_whitespace = true

[*.rs]
indent_size = 4

[*.{css,html,js,cjs,mjs,jsx,ts,cts,mts,tsx,json,jsonc,yml,yaml}]
indent_size = 2
