@import "@heroui/react/styles";

:root {
  font-family: "Noto Sans Symbols", ui-sans-serif, system-ui, sans-serif;
  color-scheme: dark;
  background: var(--background);
  color: var(--foreground);
}

html,
body,
#root {
  height: 100%;
}

body {
  margin: 0;
}
